---
title: Lab 2: Avacado Sales
author: Ryan Neely
format:
    html:
        toc: true
        code-fold: true
        embed-resources: true
        echo: true
---

In [1]:
import pandas as pd

In [4]:
pd.read_csv('avocado-updated-2020.csv')

             date  average_price  ...  year             geography
0      2015-01-04           1.22  ...  2015                Albany
1      2015-01-04           1.79  ...  2015                Albany
2      2015-01-04           1.00  ...  2015               Atlanta
3      2015-01-04           1.76  ...  2015               Atlanta
4      2015-01-04           1.08  ...  2015  Baltimore/Washington
...           ...            ...  ...   ...                   ...
33040  2020-11-29           1.47  ...  2020            Total U.S.
33041  2020-11-29           0.91  ...  2020                  West
33042  2020-11-29           1.48  ...  2020                  West
33043  2020-11-29           0.67  ...  2020   West Tex/New Mexico
33044  2020-11-29           1.35  ...  2020   West Tex/New Mexico

[33045 rows x 13 columns]

# Step 1