0. Load the `penguins` dataset from the `palmerpenguins` library, as well as any other libraries you need.

In [3]:
from palmerpenguins import load_penguins

df = load_penguins()
df.head()

  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g     sex  year
0  Adelie  Torgersen            39.1           18.7              181.0       3750.0    male  2007
1  Adelie  Torgersen            39.5           17.4              186.0       3800.0  female  2007
2  Adelie  Torgersen            40.3           18.0              195.0       3250.0  female  2007
3  Adelie  Torgersen             NaN            NaN                NaN          NaN     NaN  2007
4  Adelie  Torgersen            36.7           19.3              193.0       3450.0  female  2007

1. Write a function that takes in information about a penguin, and returns one of the following definitions:

*   "Big Mouth Billy": Male penguins with bill length times bill depth greater than 800.
*   "Dainty Daisy": Female penguins with flipper length less than 5% of body mass.
*   "Average Adelie:" Any Adelie penguins that do not fall into either category.
*   "Other": Any penguins that do not fall into any of the categories.

In [18]:
def penguin_def(sex, species, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass):

    if sex == 'male' and (bill_length_mm*bill_depth_mm) > 800:
        return "Big Mouth Billy"
    elif sex == 'female' and (flipper_length_mm/body_mass)<.05:
        return "Dainty Dasiy"
    elif species == "Adelie":
        return "Average Adelie"
    else:
        return "Other"

penguin_def('male', 'Adelie', 100, 10, 20,100)

'Big Mouth Billy'

2. Use an iterable function to create a new variable called `category_name` that adds these labels.

3. Run the following code to find the counts for each type.

In [ ]:
penguins.value_counts("category_name")