---
title: Lab 3 (12 Days of Christmas)
author: Ryan Neely
format:
    html:
        toc: true
        code-fold: false
        embed-resources: true
        echo: true
---

In [1]:
import pandas as pd
import numpy as np
xmas = pd.read_csv("https://www.dropbox.com/scl/fi/qxaslqqp5p08i1650rpc4/xmas.csv?rlkey=erdxi7jbh7pqf9fh4lv4cayp5&dl=1")

In [2]:
xmas

    Day Day.in.Words  Gift.Item        Verb Adjective        Location
0     1        first  partridge         NaN       NaN  in a pear tree
1     2       second       dove         NaN    turtle             NaN
2     3        third        hen         NaN    french             NaN
3     4       fourth       bird         NaN   calling             NaN
4     5        fifth       ring         NaN    golden             NaN
5     6        sixth      goose    a-laying       NaN             NaN
6     7      seventh       swan  a-swimming       NaN             NaN
7     8       eighth       maid   a-milking       NaN             NaN
8     9        ninth       lady     dancing       NaN             NaN
9    10        tenth       lord   a-leaping       NaN             NaN
10   11     eleventh      piper      piping       NaN             NaN
11   12      twelfth    drummer    drumming       NaN             NaN

In [12]:
def pluralize_gift(gift):
  """
  Returns plural of a noun
  
  Parameters
  ----------
  gift: str
    A noun
    
  Return
  ------
  str
    Plural version
  """

  if 'oo' in gift:
    gift = gift.replace('oo','ee')
  elif gift.endswith('y'):
    gift = gift.replace('y','ies')
  elif gift[-1] == 's':
    return gift
  else:
    gift = gift + 's'

  return gift

# Test Function

In [20]:
pluralize_gift = np.vectorize(pluralize_gift)

pluralize_gift('goose')
pluralize_gift([xmas['Gift.Item']])
 

pluralize_gift("apple")

array('apples', dtype='<U6')

In [35]:
num_to_word = {
    1: 'one',
    2: 'two',
    3: 'three',
    4: 'four',
    5: 'five',
    6: 'six',
    7: 'seven',
    8: 'eight',
    9: 'nine',
    10: 'ten',
    11: 'eleven',
    12: 'twelve',
    }
xmas['Num_Word'] = xmas['Day'].map(num_to_word)

    Day Day.in.Words  Gift.Item        Verb Adjective        Location Num_Word
0     1        first  partridge         NaN       NaN  in a pear tree      one
1     2       second       dove         NaN    turtle             NaN      two
2     3        third        hen         NaN    french             NaN    three
3     4       fourth       bird         NaN   calling             NaN     four
4     5        fifth       ring         NaN    golden             NaN     five
5     6        sixth      goose    a-laying       NaN             NaN      six
6     7      seventh       swan  a-swimming       NaN             NaN    seven
7     8       eighth       maid   a-milking       NaN             NaN    eight
8     9        ninth       lady     dancing       NaN             NaN     nine
9    10        tenth       lord   a-leaping       NaN             NaN      ten
10   11     eleventh      piper      piping       NaN             NaN   eleven
11   12      twelfth    drummer    drumming       NaN             NaN   twelve

In [38]:
def make_phrase(num, num_word, item, verb, adjective, location):
  """
  <documentation here>
  """
  
  ## Step 1: Replace NAs with blank strings
  verb = verb if verb is not np.nan else ''
  adjective = adjective if adjective is not np.nan else ''
  location = location if location is not np.nan else ''
  
  ## Step 2: If the day number is larger than 1, the gift items need pluralized!
  ### Hint: call the function you created above!
  if num > 1:
    item = pluralize_gift(item).item()
  
  ## Step 3: Figure out if a gift item starts with a vowel
  vowel = 'aeiou'

  
  ## Step 4: For the first day, if the gift item starts with a vowel, replace the day with "an" and if the gift item does not start with a vowel, replace the day with "a" (e.g. a partridge in a pear tree). If it is not the first day, use just the number word (e.g. ten lords a leap)
  if num == 1:
        if item[0] in vowel:
            num_word = 'an '
        else:
            num_word = 'a '
  else:
        num_word = num_word
  ## Step 5: Put all of the pieces together into one string and return!
  phrase = f"{num_word} {adjective} {item} {verb} {location}"
  phrase = ' '.join(phrase.split())
  return phrase

make_phrase(num=2, num_word="two", item="apple", verb="flew", adjective='white', location='in a pear tree')

    Day Day.in.Words  Gift.Item        Verb Adjective        Location Num_Word
0     1        first  partridge         NaN       NaN  in a pear tree      one
1     2       second       dove         NaN    turtle             NaN      two
2     3        third        hen         NaN    french             NaN    three
3     4       fourth       bird         NaN   calling             NaN     four
4     5        fifth       ring         NaN    golden             NaN     five
5     6        sixth      goose    a-laying       NaN             NaN      six
6     7      seventh       swan  a-swimming       NaN             NaN    seven
7     8       eighth       maid   a-milking       NaN             NaN    eight
8     9        ninth       lady     dancing       NaN             NaN     nine
9    10        tenth       lord   a-leaping       NaN             NaN      ten
10   11     eleventh      piper      piping       NaN             NaN   eleven
11   12      twelfth    drummer    drumming       NaN             NaN   twelve

In [43]:
xmas['Phrase']=xmas.apply(lambda x: make_phrase(x['Day'], x['Num_Word'], x['Gift.Item'], x['Verb'],x['Adjective'], x['Location']), axis=1)
xmas

,Day,Day.in.Words,Gift.Item,Verb,Adjective,Location,Num_Word,phrase,Phrase
0,1,first,partridge,NaN,NaN,in a pear tree,one,a partridge in a pear tree,a partridge in a pear tree
1,2,second,dove,NaN,turtle,NaN,two,two turtle doves,two turtle doves
2,3,third,hen,NaN,french,NaN,three,three french hens,three french hens
3,4,fourth,bird,NaN,calling,NaN,four,four calling birds,four calling birds
4,5,fifth,ring,NaN,golden,NaN,five,five golden rings,five golden rings
5,6,sixth,goose,a-laying,NaN,NaN,six,six geese a-laying,six geese a-laying
6,7,seventh,swan,a-swimming,NaN,NaN,seven,seven swans a-swimming,seven swans a-swimming
7,8,eighth,maid,a-milking,NaN,NaN,eight,eight maids a-milking,eight maids a-milking
8,9,ninth,lady,dancing,NaN,NaN,nine,nine ladies dancing,nine ladies dancing
9,10,tenth,lord,a-leaping,NaN,NaN,ten,ten lords a-leaping,ten lords a-leaping
10,11,eleventh,piper,piping,NaN,NaN,eleven,eleven pipers piping,eleven pipers piping
11,12,twelfth,drummer,drumming,NaN,NaN,twelve,twelve drummers drumming,twelve drummers drumming

In [83]:
def sing_day(dataset, num, phrase_col):
  """
  <documentation>
  """
  
  # Step 1: Setup the intro line
  num_word = dataset['Day.in.Words'].iloc[num-1] # convert "1" to "first" etc.
  intro = "On the " + num_word + " day of Christmas, my true love sent to me:"
  
  # Step 2: Sing the gift phrases
  # Hint: What order are they gifts sung in each day?
  gifts = ""
  for i in range(num,0,-1):
    gifts = gifts + dataset[phrase_col][i-1] + "\n"
  
  # Step 3: Put it all together and return
  full_phrase = intro + "\n" +gifts
  return full_phrase


sing_day(xmas, 4, 'Phrase')

print(sing_day(xmas, 6, 'Phrase'))

On the sixth day of Christmas, my true love sent to me:
six geese a-laying
five golden rings
four calling birds
three french hens
two turtle doves
a partridge in a pear tree